body {
  font-size: 1.3em;
  background-color: rgb(252, 14, 26);
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar {
  background-color: rgb(119, 45, 45);
  line-height: 3rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.nav-link {
  color: white;
  margin-right: 0.5rem;
}
.nav-link:hover {
  color: green;
  background: brown;
}
a {
  text-decoration: none;
}
main {
  flex-grow: 1;
}
div {
  display: block;
}
.projects {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  background: hsl(271, 93%, 48%);
  margin-bottom: 25px;
  font-size: large;
  font-weight: 600;
}
a {
  text-align: bottom;
  background: overlay;
}
.col-3 {
  width: 300px;
  min-height: 300px;
  margin-right: 3%;
  border: #ee0f65 1px solid;
  margin-bottom: 15px;
}
.card__cover {
  height: 150px;
  width: 100%;
}
.card__content {
  padding: 5px;
  flex: 1;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.row {
  display: flex;
  flex-direction: row;
}
* {
  box-sizing: border-box;
}
footer {
  background-color: rgb(236, 144, 144);
  text-align: center;
  color: rgb(250, 245, 245);
}

footer ul {
  background-color: rgb(236, 93, 189);
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer ul li {
  justify-content: center;
  margin-right: 1.9em;
}
