body {
  font-size: 1.2em;
  background-color: rgb(228, 26, 110);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100 vh;
}
.navbar {
  background-color: rgb(224, 111, 215);
  text-align: center;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.nav-link {
  color: white;
  margin-right: 0.5rem;
}
.nav-link:hover {
  color: green;
  background: rgb(59, 16, 250);
}
nav {
  background-color: blue;
  line-height: 3em;
  color: white;
}

nav a {
  color: white;
}
header {
  color: white;
}

a {
  text-decoration: none;
}

footer {
  background-color: rgb(247, 104, 228);
  text-align: center;
  color: white;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin-right: 0.8em;
}
footer a {
  color: white;
}
